.svgTest {
    color: blueviolet;
}

.svg {
    color: greenyellow;
    margin: 0 10px;
    background: darkgrey;
    background-size: 150px 150px;
    transform: rotate(180deg);
}

.chart {
    transform: rotate(calc(155 * 1deg));
    border-radius: 50%;
    width: 50%;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
    background: conic-gradient(red 20%, yellow 30%, gold 40%, green 100%, fuchsia 100%);
    height: 300px;
}

.svgLine {
    margin: 0 10px;
    background: darkgrey;
    transform: rotate(-90deg);
}

.line {
    background: green;
    box-shadow: 0 0 10px greenyellow;
}

rect:before {
    content: '223123213';
    position: relative;
    left: 50px;
    top: 50px;
    fill: green;
}

rect{
}
text{
    color: greenyellow;
}

