.svgTest {
    color: blueviolet;
}

.svg {
    margin: 0 10px;
    /*background: darkgrey;*/
    background-image: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/F382/production/_123883326_852a3a31-69d7-4849-81c7-8087bf630251.jpg");
    background-size: 150px 150px;
    /*transform: rotate(180deg);*/
}

.chart {
    transform: rotate(calc(155 * 1deg));
    border-radius: 50%;
    width: 50%;
    padding-top: 50%;
    float: left;
    padding-right: 20px;
    background: conic-gradient(red 20%, yellow 30%, gold 40%, green 100%, fuchsia 100%);
    height: 300px;
}

.svgLine {
    margin: 0 10px;
    background: darkgrey;
    transform: rotate(-90deg);
}

.line {
    background: green;
    box-shadow: 0 0 10px greenyellow;
}

rect:before {
    content: '223123213';
    position: relative;
    left: 50px;
    top: 50px;
    fill: green;
}

rect:hover {
    transition: 1s;
    transform: translate(20px);
    opacity: 0.5;
    fill: red
}

