.circle{
  width: 300px;
  height: 270px;
  border-radius: 20px;
  box-shadow: 0 0 10px;
  background: #312727;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    z-index: 2;
    position: absolute;
    top: 180px;
  }
  div{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    height: 200px;
    width: 200px;
    animation: ring 2s linear infinite;
  }
}
@keyframes ring {
  0%{
    transform: rotate(0deg);
    box-shadow:1px 5px 2px #e65c00;
  }
  50%{
    transform: rotate(180deg);
    box-shadow:1px 5px 2px #18b201;
  }
  100%{
    transform: rotate(360deg);
    box-shadow:1px 5px 2px #0456c8;
  }
}

