.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background: black;
  height: 100vh;

  &_section {
    margin-top: 10px;
    gap: 15px;
    display: flex;
  }
}
